#songList{
  li.selected{
    background: #3d3d3d;
    color:#ff00ee;
  }
}

.container{
  position:absolute;
  top:0;
  left:0;
  z-index:10;
}
#canvas{
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}