<ul>
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
    {% else %}
        <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
    {% endif %}
</ul>
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="col-md-4">
    <form action="">
        {{ form.email }}
        {{ form.password }}
        {{ form.remeber_me }}
        {{ form.submit }}
    </form>
</div>
<p>
 New user?
 <a href="{{ url_for('auth.register') }}" >
 Click here to register
 </a>
</p>