<html ng-app="demo">
    <head>
    <title>title</title>

    </head>
    <body>
        <div ng-controller='EmailController'>
            <input type="text" ng-model='to' type='email' placeholder='Recipient' />
            <textarea name="" id="" cols="120" rows="40" ng-model='emailBody'></textarea>
            <pre>{{ previewText }}</pre>
            <p>{{ 1234 | currency: 'A' }}</p>

        <div my-directive my-url="zhanglun.github.io" name="{{name}}" ></div>
        </div>
        <!-- <input type="text" ng-model='name'> -->


        <!-- <input type="text" ng-model='myUrl'>
        <div ng-directive></div> -->
        <div ng-controller="ParentController">
            {{ someValue }}
            <button type="button" ng-click="someAction()">Parent</button>
            <div ng-controller="ChildController">
                {{someValue}}
                <button type="button" ng-click="someAction()">Child</button>
            </div>
        </div>
        <div ng-if="2+2==4">2+2 === 6 ?</div>

    <div ng-init="myProperty='wo,dsfdsafsdfdsgeqwtgfvsdvc'">
        Surrounding scope: {{ myProperty }}
        <div new-inherit-scope-directive my-property="zhanglun lallalall发生决定发俩决定谁"></div>
        <div new-directive></div>
    </div>


        <script type="text/javascript" src="lib/angular.min.js"></script>
        <script type="text/javascript" src="js/demo.js"></script>
    </body>
<html>  
