$def with (content)

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>$content.title</title>
	<link rel="stylesheet" href="../static/build/css/global/base.css" />
	$if content.cssfiles:
		$for f in content.cssfiles.split():
			<link rel="stylesheet" href="$f">
</head>
<body>
	<div class="wrapper">
		<div class="container">
			$:content
		</div>
		<footer>
			<p>这是一个我正在做的demo合集站点，希望借此提高自己的技艺，每天都会完善，将学习变成习惯</p>
			<p>CopyRight@zhanglun</p>
		</footer>
	</div>
</body>
</html>