@charset "UTF-8";
a{
	text-decoration:none;
}
a,a:link{
	color:#6b6b6b;
}
a:hover{
	color:#000;
}

body{
	background:#E5E5E5;
	font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.container{
	width:1080px;
	margin:0 auto;
}
.movies{
    dl{
    	display: inline-block;
    	padding:14px 16px;
    	margin:8px;
    	background:#fff;
    	border-radius: 3px;
    	border: 1px solid #d8d8d8;
	    border-bottom-width: 2px;
    	border-top-width: 0;
    }
    dt{
	    margin:0 0 10px;
    }
    dd{
	    font-size:14px;
    }
    img{
	    max-width:100%;
    }
}



