@import "base";

.panel-shadow{
  -webkit-box-shadow:0 0 1px rgba(0,0,0,0.5);
  -moz-box-shadow:0 0 1px rgba(0,0,0,0.5);
  -o-box-shadow:0 0 1px rgba(0,0,0,0.5);
  box-shadow:0 0 1px rgba(0,0,0,0.5);
}


body{
	background:url(../../images/placeholder.jpg);
}

.player_panel{
	width:300px;
	height:100px;
	padding:10px;
	margin:left;
	.clearfix;
	.panel-shadow;
}

.cover{
	width:100px;
	img{
		.autoImage;
	}
}