@charset "utf-8";
$shop-placehodler-height:92px;


.container{
    // width:1008px;
    @include box-sizing(border-box);
    max-width:950px;
    width:100%;
    margin:0 auto;
}
.rating-stars{
    display: inline-block;
    width: 61px;
    height: 14px;
    background: url(../../images/global/bg.png)  no-repeat -1px -193px;
    @for $i from 0 through 10{
        &.r#{$i}{
            background-position:-1px -333px+($i * 15);
            // background: url(../../images/global/bg.gif) no-repeat -1px -333px+($i * 15);
        }
    }
}
.rating-number{
    display: inline-block;
    vertical-align: top;
}

.service-icon{
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float:left;
    background: url(../../images/global/service-icons.png8.png) transparent 0 0 no-repeat;
    &.new-restaurant {
        background-position: 0 0
    }

    &.new-user-discount {
        background-position: 0 -20px
    }

    &.extra-discount {
        background-position: 0 -40px
    }

    &.coupon {
        background-position: 0 -60px
    }

    &.half-price {
        background-position: 0 -80px
    }

    &.recoup {
        background-position: 0 -100px
    }

    &.invoice {
        background-position: 0 -120px
    }

    &.deliver-fee {
        background-position: 0 -140px
    }

    &.online-payment {
        background-position: 0 -160px
    }

    &.third-party {
        background-position: 0 -180px
    }
}


/*icon*/
[class ^= "icon-"]{
    display: inline-block;
    background-image:url(../../images/global/topbar.png);
    background-repeat: no-repeat;
    vertical-align:middle;
}
.icon-logo{
    width:90px;
    height:40px;
    background-position:0 0;
}
.icon-mobile{
    width:15px;
    height:19px;
    background-position:0px -39px;
}
.icon-search{
    width:18px;
    height:18px;
    background-position:0 -60px;
}
.icon-cart{
    width:20px;
    height:20px;
    background-position: 0 -80px;
}
.icon-msg{
    width:20px;
    height:20px;
    background-position:-20px -80px;
}
.icon-caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #666;
    vertical-align: middle;
}

/* 店铺列表相关 */
.shop-placeholder{
    width:100%;
    min-height:$shop-placehodler-height;
    height:112px;
    border-right:1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-top: -1px;
    @include box-sizing(border-box);
}

/* 添加收藏 */
.add-favor{
    height:92px;
    background-image:url(../../images/global/bg.png);
    background-repeat: no-repeat;
    background-position:-112px -94px;
    &:hover{
        cursor:pointer;
        background-position:-303px -94px;
    }
}

/* 单个店铺 */
.shop-single{
    padding:10px;
    cursor:pointer;
    position:relative;
    &:hover{
        background:#f8f8f8;
        // border-left:1px solid #ddd;
    }

    .favor-icon{
        background: transparent url(../../images/global/bg.gif) repeat scroll -480px -776px;
        height: 22px;
        width: 20px;
        position: absolute;
        top: 0;
        right: 0px;
    }

    .shop-info{
        height:47px;
        color:#333;
        overflow:hidden;
        >a{
            float:left;
            display: block;
            border:1px solid #ddd;
            font-size:0;
        }
    }
    .shop-info-detail{
        margin-left:50px;
        .info-name{
            font-size:15px;
            @include autohideword;
        }
        .info-status{
            display: inline-block;
            font-size:12px;
            color:#666;
            margin-top:14px;
        }
        .info-logo{
            float:left;
            width:42px;
            height:42px;
            border:1px solid #ddd;
            margin:0 10px 10px 0;
            padding:1px;
        }
        .info-type{
            display: inline-block;
            margin-top:8px;
        }
        .info-status{
            color: #999;
        }
        .info-status-label{
                display: inline-block;
                margin-top:7px;
                padding: 2px 4px;
                font-size: 12px;
                color: #59b170;
                background: #f8f8ee;
                border: 1px solid #59b170;
            &.closed{
                color: #999;
                background: #f5f5f5;
                border: 1px solid #ddd;
            }
        }
    }


    .sale-info{
        margin-top:4px;
        padding:2px;
        .deliver-time{
            float:left;
            width:44px;
            text-align: center;
            &.busy{
                background: #ffe2e2;
            }
        }
        .deliver-info{
            margin-left:50px;
        }
        .deliver-service-para{
            margin-top:4px;
            overflow:hidden;
        }
        .deliver-status.closed{
            display: inline-block;
            height:17px;
        }
    }

    &.closed{
        img,.favor-icon,.sale-info,.shop-info{
            opacity:0.5;    
        }
        background:#f8f8f8 url(../../images/global/restaurant_closed_bg.png);
    }
}
/* 筛选 */
.filter-shop{
    li{
        display: inline-block;

    }
    span{
        padding:0 10px;
        border-right:1px dashed #ddd;
        cursor:pointer;
    }
    label, input{
        cursor:pointer;
        vertical-align: middle;
    }
}



.group-nearby{
    padding: 10px;
    cursor: pointer;
    position: relative;
    &:hover{
        background:#f8f8f8;
    }
    &:hover .book-now{
        background:#f8f8f8;
    }
    .group-info{
        overflow: hidden;
        >a{
            float:left;
            border:1px solid #ddd;
            padding:1px;
            margin-right:10px;
        }
        p{
            line-height:22px;
        }
        .group-name{
            font-size:14px;
            @include autohideword;
        }
        .now-preice{
            color:#666;
        }
        .old-price{
            text-decoration: line-through;
            color:#999;
        }
    }
    .group-sale{
        margin-top:6px;
        .count{
            display: inline-block;
            width:84px;
        }
        .book-now{
            display:inline-block;
            padding:5px 10px;
            background-color: #fff;
            border: 1px solid #d9d9d9;
            color: #ff8400;
            font-weight: bolder;
        }
    }
}



