.user-location{
    margin:10px 0;
    font-size:13px;
    line-height: 20px;
    color:#fff;
    a{
        margin-left:10px;
        color:#fff;
        &:link{
            color:#fff;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}