doctype html
html(lang=en)
  head
    title=title
    link(rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.1/normalize.css")
    link(rel="stylesheet" href="/css/socket.css")
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css")
    script(src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js")
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
  body
    header
      nav(class="navbar navbar-inverse" role="navigation")
        p(class="navbar-text") 聊天室
    div(class="container")
      div(id="socket")
        div(class="login-card" id="login")
          h1 登录|登陆
          form(id="nick-form")
            input(type="text" id="nick-name" class="form-control" name="user" placeholder="用户名 | 昵称")
            //- input(type="password" class="form-control" name="pass" placeholder="密码")
            input(type="text" id="nick-img" class="form-control" name="protile" placeholder="头像地址")
            input(type="submit" name="login" class="btn btn-primary" value="确定")

          //- div(class="login-help")
          //-   a(href="#")
          //-     |注册 • 
          //-   a(href="#")
          //-     |忘记密码？

        div(class="row" id="msgPanel")
          div(class="col-lg-8")
            div(class="panel panel-primary")
              div(class="panel-heading") 消息列表
              div(class="msg-window")
                div(id="msg-list" class="msg-list")
                  ul
                div(class="msg-editor")
                  form(class="pure-form" id="msg-form" action="#")
                    ul
                      li
                        textarea(id="text" class="form-control" rows="3")
                      li
                        button(type="submit" class="btn btn-primary" id="send-msg")
                          |发送

          div(class="col-lg-4")
            div(class="panel panel-primary")
              div(class="panel-heading") 当前在线
              div(id="users-list" class="users-list")
                ul
                  li
                    a
                      img(src="http://placekitten.com/40/40" alt="users")
                  li
                    a
                      img(src="http://placekitten.com/40/40" alt="users")
                  li
                    a
                      img(src="http://placekitten.com/40/40" alt="users")



          //- script(src="/socket.io/socket.io.js")
          script(src="http://code.jquery.com/jquery-2.1.1.min.js")
          script(src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")
          script(src="scripts/socket-client.js")
