html
    head
        block title
        link(rel="stylesheet" href="./build/css/base.css")
    body
        block top
            div top

        block body
            div body

        block bottom
            dib bottom