@charset "UTF-8";
@import 'mixin';

// media query

$desktop: "screen and (max-width:1281px)";
$ipad:  "screen and (max-width: 1025px)";
$tablet: "screen and (max-width: 961px)";
$mini: "screen and (max-width: 641px)";
$phone: "screen and (max-width: 481px)";

html, body, ul {
  margin: 0;
  padding: 0;
}
body {
  background: #E5E5E5 no-repeat left center;
  background-size: cover;
  font-size: 100%;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", sans-serif;
}

a {
  text-decoration: none;
}

a, a:link {
  color: #6b6b6b;
}
a:hover {
  color: #000;
}


li {
  list-style-type: none;
}


// construct

.container {
//  width: 1080px;
  margin: 0 auto;
  padding-top:60px;
  @media #{$tablet}{
//    width:96%;
  }
}
.footer {

}

